<header class="page-header"></header>

<body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Image</th>
          <th>Category</th>
          <th>Product Quantity</th>
        </tr>
      </thead>
      <tbody>
        <%= render @categories %>
      </tbody>
    </table>

  </div>

</body>