</header>
<body>
  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-primary' %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Category</th>
        <th>Product Quantity</th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
</body>